/* Стилі для всієї сорінки */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Шрифти */

html{
    font-family: "Lato", sans-serif;
}


/* HEADER */
#logo-link {
    display: flex; 
    align-items: center;
    width: 10%; 
    padding-left: 2%;
}
    #logo-cup{
    width: 100%; 
} 

.navigation-menu{
    display: flex;
    align-items: center;
    position: relative;
    width: 100%;
}
.menu {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 20px;
    list-style: none;
    padding-left: 10%;
    transition: 0.6s all;
}

.menu-item {
    font-size: 20px;
    font-weight: bold;
}

.menu-link {
    color: #000000;
    text-decoration: none;
}
.first-nav-li{
    display: flex;
    justify-content: flex-start;
    gap: 20px;
}

.second-nav-li {
    display: flex;
    gap: 20px;
    padding-left: 25%;
}

.menu-link:hover{
    color: #0484d4;
    transition: 0.2s ease-in-out;
  }





/* Sidebar */
.main-info{
    display: flex;
}
.sidebar-filter{
    background: #f8f9fa;
    width: 25%;
    padding-top: 5%;
}

.input-search{
    padding: 5% 0 0 20%;
}
 
.input-search input{
    padding: 7px;
    border: 1px solid #b0b3b7;
    font-size: 15px;
}

.input-search button{
    background: #0088cc;
    border: none;
    color: white;
    padding: 10px;
    cursor: pointer;
    font-size: 18px;
}

.input-search button:hover,
.filter-price button:hover{
    background-color: #0474bc;  
}

.filter-price{
    margin-top: 5%;
    margin-left: 20%;
    
}

.input-search button:hover,
.filter-price button:hover{
    background-color: #0474bc;  
}

.filter-price h3{
    font-size: 30px;
    font-weight: 400;
    padding-top: 5%;
}

input[type="range"]{
    width: 80%;
    height: 4px; 
}

.filter-price p{
    padding-top: 5%;
    font-size: 15px;
    
}

.filter-price button{
    padding: 3px 20px 3px 20px;
    border: none;
    background: #0088cc;
    color: white;
    font-size: 15px;
    font-weight: 500;
    margin-top: 5%;  
}

.btn-price{
    width: 80%;
    display: flex;
    justify-content: space-between;
}

.categories{
    width: 60%;
    margin: 10% 0 10% 20%;
}

.categories h3{
    font-size: 30px;
    font-weight: 400;
}

.categories li, .categories a{
    padding-top: 5%;
    list-style: none;
    text-decoration: none;
    color: black;
}

.categories ul li a {
    display: flex;
    justify-content: space-between;
}

.categories a:hover{
    color: #0484d4;
    transition: 0.2s ease-in-out;
}

/* Product */
.product{
    width: 80%;
    background: #f8f9fa; 
    display: flex;
    flex-wrap: wrap;
    padding: 5% 5% 5% 5%;
    justify-content: space-around;
    gap: 20px; 
}

.product-text{
    font-size: 30px;
}
.product-back-color{
    background-color: white;
    width: 100%;
    padding: 5% 5% 5% 5%;
}

.product-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px;
    padding-top: 5%;
}

.product .tea-product img{
    height: 250px;
}
.tea-product button{
    background-color: #fff;
    border: 1px solid #b0b3b7;
    padding: 5px 10px;
    border-radius: 10%;
}
.tea-product a{
    text-decoration: none;
    color: #000000;
}
/* Footer */
.footer-menu{
    display: flex;
    justify-content: space-around;
    padding: 5% 5% 5% 5%;
    border-top: 1px solid #b0b3b7;
    border-bottom: 1px solid #b0b3b7;
    line-height: 30px;
}

.footer-menu h3{
    font-size: 20px;
    font-weight: 400;
}

.footer-link{
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: 0 auto;
    margin-top: 2%;
    margin-bottom: 3%;
}

.Icons {
    display: flex;
    gap: 30px;
}
.Icons a{
 color: #000000;
}

.footer-menu li{
    color: #4a4b4b;
    list-style: none;
}

.subscribe input {
    font-size: 15px;
    padding: 10px; 
    border: 1px solid #b0b3b7;
    margin-top: 10%;
    width: 130%;
}

.subscribe-btn{
    background-color: #0484d4;
    color: white;
    padding: 10px 30px 10px 30px;
    font-size: 18px;
    font-weight: 500;
    margin-top: 10%;
    cursor: pointer;  
    transition: 0.2s ease-in-out;
    border: none;
}

.subscribe-btn:hover{
    background-color: #0474bc;  
}

@media (max-width: 1200px) {
    .second-nav-li {
        padding-left: 15%;
    }
    .menu-link{
        font-size: 17px;
    }
    .input-search{
        padding: 5% 0 0 10%;
    }
    .filter-price{
        margin-left: 5%;
    }
    .categories{
        margin: 10% 0 10% 5%;
    } 
}
@media (max-width: 991px) {
    .second-nav-li {
        padding-left: 7%;
    }
    .menu-link{
        font-size: 14px;
    }
    .main-info{
        display: flex;
        flex-direction: column;
        width: 100%;
        
    }
    .sidebar-filter{
        width: 100%;
    }
    .product{
        width: 100%;
    }
    
    .input-search{
        padding: 5% 0 0 5%;
    }

    .input-search input{
        width: 80%;
    }
    .categories{
        width: 80%;
    }
}

@media (max-width: 767px) {
    .menu {
        position: fixed;
        flex-direction: column;
        align-items: center;
        top: 0;
        left: -100%;
        width: 60%;
        height: 100vh;
        padding: 20px 15px;
        background-color: rgba(0, 0, 0, 0.8);
        transition: 0.6s all;
        z-index: 10;
      }

    .first-nav-li{
        position: fixed;
        flex-direction: column;  
        margin-top: 10vh;
    }
    .second-nav-li{
        margin: 0;
        padding: 0;
        flex-direction: column;
        gap: 20px;
        padding-top: 60vh;
    }
    .menu-active {
        left: 0;
      }
      .menu-item {
        padding-right: 0;
        border: none;
        margin: 10px 0;
      }
    .menu-link {
        font-size: 20px;
      }
    .hamburger {
        display: block;
        position: absolute;
        right: 10px;
        top: 50%;
        transform: translateX(-50%);
        width: 26px;
        height: 12px;
      }
    .hamburger span {
        display: block;
        height: 2px;
        width: 100%;
        background-color: #000000;
        margin-bottom: 2px;
        transition: 0.5s all;
      }
    .menu-link{
        color: #fff;
    }
    .hamburger-active span {
        margin-bottom: -2px;
        margin-bottom: -2px;
      }
    .hamburger-active span:nth-child(1) {
        transform: translateY(3px) rotate(-45deg);
      }
    .hamburger-active span:nth-child(2) {
        display: none;
      }
    .hamburger-active span:nth-child(3) {
        transform: translateY(3px) rotate(45deg);
      }
    .xs-hidden {
        display: none;
      }
    .xs-visible {
        display: block;
      }

    #logo-link{
        width: 15%;
    }
    .info-content{
        flex-direction: column;
        padding-top: 0;
    }
    .content-in{
        width: 90%;
        padding-top: 10%;
    }
    .subscribe input{
        width: 100%;
    }
}

@media (max-width: 575px) {
    .footer-menu{
        flex-direction: column;
        text-align: center;
        gap: 20px;
    }
    .footer-link{
        flex-direction: column;
        text-align: center;
        gap: 20px;
    }
    .Icons{
        justify-content: center;
    }
}