@media (max-width: 1200px){
    
}

@media (max-width: 991px){
    .promo{
        padding: 2% 5% 0 5%;
    }
    .consultation{
        padding-left: 5%;
    }
}

@media (max-width: 767px){
    .header-logo img{
        width: 80%;
    }

    .header-phone{
        font-size: 15px;
    }

    .header-official span{
        font-size: 15px;
    }

    .promo-header{
        font-size: 32px;
    }

    .promo-subheader{
        font-size: 20px;
    }

    .title{
        font-size: 20px;
    }

    .benefit-info{
        flex-direction: column;
        align-items: center;
    }

    .block-info{
        width: 80%;
    }
    .consultation{
        display: flex;
        justify-content: center;
        width: 100%;
        text-align: center;
        padding-left: 0;
    }
    .title-left{
        text-align: center;
    }
    .feed-form{
        width: 100%;
    }
    .feedback-block{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .feedback-info{
        margin-top: 5%;
        text-align: center;
    }

    .carousel-inner{
        width: 100%;
    }
    .carousel-inner img{
        width: 100%;
    }

    .catalog-tab{
        width: 150px;
        font-size: 15px;
    }
    .footer-info{
        width: 50%;
    }
}

@media (max-width: 575px){
    .header-official{
        display: none;
    }
    .promo-wrapper{
        text-align: center;
        align-items: center;
    } 
   .catalog-tab{
        width: 100px;
        font-size: 11px;
    }
    .catalog-content{
        justify-content: center;
    }
    .modal{
        width: 280px;
    }
}

