.footer {
  background-color: #fff;
  /* box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); */
/*   position: sticky;
  top: 0;
  z-index: 100; */
 margin: 0 auto;
 
}

.footer-container {
/*   max-width: 1200px;
  margin: 0 auto;
  padding: 15px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center; */
/*   margin-left: 20%; */
  
  margin-bottom: 2%;

 
} 

.footer-logo-link {
  display: flex;
  align-items: center;
}

.footer-logo {
  height: 40px;
  width: auto;
  margin-top: 5%;
  margin-left: 35%; 
}

.footer-menu {
  display: flex;
  justify-content: center;
 
}

.footer-list {
  display: flex;
  list-style: none;
  gap: 30px;
  
}

.footer-item {
  position: relative;
}

.footer-nav-link {
  text-decoration: none;
  font-weight: 500;
  font-size: 1.1rem;
  transition: color 0.3s ease;
  padding: 5px 0;
  position: relative;
  cursor: pointer;
  color: black;
}

.footer-nav-link:hover {
  color: #af7e5b;
}

.footer-nav-link::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background-color: #af7e5b;
  transition: width 0.3s ease;
}

.footer-nav-link:hover::after {
  width: 100%;
}

/* Адаптивність для мобільних пристроїв */
@media (max-width: 768px) {
  .footer-container {
    flex-direction: column;
    padding: 10px;
  }

  .footer-logo {
    margin-bottom: 10px;
  }

  .footer-list {
    gap: 15px;
    flex-wrap: wrap;
    justify-content: center;
  }
}